
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Account Report</h3>

                    </div>
                    <div class="panel-body">
                        <canvas id="bar" class="chart chart-bar"
                                data="data" labels="labels" series="status" colours="colours" legend="TRUE">
                        </canvas>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Account Report</h3>

                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-condensed table-striped">
                            <thead style="background-color: #b0c4de;">
                            <tr>
                                <th><label>Account</label></th>
                                <th><label>Open</label></th>
                                <th><label>Aging</label></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Disney</td>
                                <td>49</td>
                                <td>83</td>
                            </tr>
                            <tr>
                                <td>Cisco</td>
                                <td>71</td>
                                <td>78</td>
                            </tr>
                            <tr>
                                <td>AT&T</td>
                                <td>106</td>
                                <td>98</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>