<div class="well">
        <h3>BU</h3>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-hover table-condensed table-striped">
                    <thead style="background-color: #b0c4de;">
                    <tr>
                        <th><label>BU</label></th>
                        <th><label>Open</label></th>
                        <th><label>Aging</label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Htech</td>
                        <td>49</td>
                        <td>83</td>
                    </tr>
                    <tr>
                        <td>Govt Services</td>
                        <td>71</td>
                        <td>78</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
</div>