<div class="row">
    <div class="panel search">
        <div class="panel-heading search-heading">
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="panel-title">Search Candidate</h3>
                </div>
                <div class="col-xs-2 text-left">
                    <a href="/dashboard" class="white-link">Back</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form role="form" action="#dashboard">
                <table class="table table-striped table-condensed">
                    <tr>
                        <td><label for="cmdtSrcSerLine">Service Line:</label><select class="form-control serLine"
                                    id="cmdtSrcSerLine">
                            <option>CSD</option>
                            <option>SAP</option>
                        </select></td>

                        <td><label for="cndtSrcSerLnCap">Service Line
                            Capability:</label><select class="form-control serLnCap"
                                    id="cndtSrcSerLnCap">
                        </select></td>

                        <td><label for="cndtSrcRlNm">Role Name:</label><select class="form-control rlNm" id="cndtSrcRlNm">
                        </select></td>

                        <td><label for="cndtSrcSts">Candidate Status:</label><select class="form-control" id="cndtSrcSts">
                            <option>Active</option>
                            <option>Hired</option>
                            <option>Rejected</option>
                            <option>Did Not Join</option>
                        </select></td>

                        <td><label for="ctzSrcSts">Citizenship Status:</label><select class="form-control" id="ctzSrcSts">
                            <option>Green Card</option>
                            <option>H1B</option>
                            <option>OPT</option>
                            <option>US Citizen</option>
                        </select></td>

                        <td style="vertical-align: bottom;"><button type="button" id="cndtSearchId"
                                    class="btn btn-color">
                            <span class="glyphicon glyphicon-search"></span>
                            Search</button></td>
                        <td style="vertical-align: bottom;"><button type="button" id="customizeId"
                                    class="btn btn-color">Set As Dashboard Default</button></td>
                    </tr>
                </table>
            </form>
<div style="padding-bottom:30px;"><span></span></div>
            <table class="table">
                <thead class="search search-heading">
                <tr>
                    <th><label>Candidate Name</label></th>
                    <th><label>Resume</label></th>
                    <th><label>Resource Type</label></th>
                    <th><label>Contractor Rate</label></th>
                    <th><label>Candidate Status</label></th>
                    <th><label>Citizenship Status</label></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Jacob</td>
                    <td><a href="#">Download Resume</a></td>
                    <td>gxteam</td>
                    <td>$30 per hour</td>
                    <td>Did Not Join</td>
                    <td>US Citizen</td>
                </tr>
                <tr>

                    <td>Robert</td>
                    <td><a href="#">Download Resume</a></td>
                    <td>External resource</td>
                    <td>$40 per hour</td>
                    <td>Did Not Join</td>
                    <td>US Citizen</td>
                </tr>
                <tr>

                    <td>Krishna</td>
                    <td><a href="#">Download Resume</a></td>
                    <td>gxteam</td>
                    <td>$50 per hour</td>
                    <td>Did Not Join</td>
                    <td>US Citizen</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>


