<div class="row">
    <div class="panel search">
        <div class="panel-heading search-heading">
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="panel-title">Search Candidate</h3>
                </div>
                <div class="col-xs-2 text-left">
                    <a href="/dashboard" class="white-link">Back</a>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-controller="CandidateSearchCtrl">
            <form role="form" action="#dashboard">
                <table class="table">
                    <tbody class="bg-success">
                    <tr>
                        <td><label for="cmdtSrcSerLine">Service Line:</label>
                            <select
                                    class="form-control serLine" id="serviceLineId" ng-model="serviceLineId" ng-change="serviceLineChanged(serviceLineId)"
                                    ng-options="opt.serviceLineId as opt.serviceLineName for opt in serviceLines.serviceLine">
                                <option value="" selected="selected">Select</option>
                            </select>
                        </td>

                        <td><label for="cndtSrcSerLnCap">Service Line
                            Capability:</label>
                            <select class="form-control serLnCap" id="serviceLineCapabilityId" ng-model="serviceLineCapabilityId"
                                    ng-change="serviceLineCapChanged(serviceLineCapabilityId)"
                                    ng-options="opt.serviceLineCapabilityId as opt.serviceLineCapabilityName for opt in serviceLineCapabilityList">
                                <option value="" selected="selected">Select</option>
                            </select>
                        </td>

                        <td><label for="cndtSrcRlNm">Role Name:</label>
                            <select class="form-control rlNm" id="jobRoleId"  ng-model="jobRoleId"
                                    ng-options="opt.jobRoleId as opt.jobRoleName for opt in jobRolesList">
                                <option value="" selected="selected">Select</option>
                            </select>
                        </td>
                        <td><label for="cndtSrcSts">Candidate Status:</label>
                            <select class="form-control" id="candidateStatusId" ng-model="candidateStatusId"
                                    ng-options="opt.candidateStatusId as opt.candidateStatusName for opt in candidateStatuses.candidateStatus">
                                <option value="" selected="selected">Select</option>
                            </select></td>
                        </tr><tr>


                        <td><label for="ctzSrcSts">Citizenship Status:</label>
                            <select class="form-control" id="citizenshipStatusId" ng-model="citizenshipStatusId"
                                    ng-options="opt.citizenshipStatusId as opt.citizenshipStatusName for opt in citizenshipStatuses.citizenshipStatus">
                            <option value="" selected="selected">Select</option>
                        </select></td>

                        <td style="vertical-align: bottom;" colspan="3"><button type="button" id="cndtSearchId"
                                    class="btn btn-color" ng-click="candidateSearch()">
                            <span class="glyphicon glyphicon-search"></span>
                            Search</button>
                        <button type="button" id="customizeId"
                                    class="btn btn-color">Set As Dashboard Default</button></td>
                    </tr>
                    </tbody>
                </table>
            </form>
<div style="padding-bottom:30px;"><span></span></div>
            <table class="table">
                <thead class="search search-heading">
                <tr>
                    <th><label>Candidate Name</label></th>
                    <th><label>Resume</label></th>
                    <th><label>Resource Type</label></th>
                    <th><label>Contractor Rate</label></th>
                    <th><label>Candidate Status</label></th>
                    <th><label>Citizenship Status</label></th>
                </tr>
                </thead>
                <tbody ng-repeat="searchResultObj in candidateResultObject.candidateList">
                <tr>
                    <td>{{searchResultObj.cndtName}}</td>
                    <td><a ng-href="{{searchResultObj.cndtResume}}">download</a></td>
                    <td>{{searchResultObj.resourceType}}</td>
                    <td>{{searchResultObj.cntrctrRate}}</td>
                    <td>{{searchResultObj.cndtStatus}}</td>
                    <td>{{searchResultObj.ctznStatus}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>


