<div class="row" ng-controller="CreateCandidateCtrl">
    <div class="panel search">
        <div class="panel-heading search-heading">
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="panel-title">Candidate Details</h3>
                </div>
                <div class="col-xs-2 text-left">
                    <a href="/candidateSearchView" class="white-link">Back</a>
                </div>
            </div>
            </div>
        <!-- <a href="/jobSearchView" class="white-link">Search</a> <span>/</span>-->
        <div class="panel-body">

            <table class="table table-hover">
                <tbody class="bg-success">
                    <tr>
                        <td width="30%"><label>Candidate Name</label></td>
                        <td>{{candidateDetails.cndtName}}</td>
                    </tr>
                    <tr>
                        <td width="30%"><label>Resource Type</label></td>
                        <td>{{candidateDetails.resourceType}}</td>
                    </tr>
                    <tr>
                        <td width="30%"><label>Primary Skills</label></td>
                        <td>{{candidateDetails.primarySkills}}</td>
                    </tr>
                    <tr>
                        <td width="30%"><label>Candidate Status</label></td>
                        <td>{{candidateDetails.cndtStatus}}</td>
                    </tr>
                    <tr>
                        <td width="30%"><label>Citizenship Status</label></td>
                        <td>{{candidateDetails.ctznStatus}}</td>
                    </tr>
                </tbody>
            </table>
			<div class="input-group">
                       <button type="button" id="schInt" class="btn btn-color" ng-click="scheduleInterview()">Schedule Interview</button>
            </div>
        </div>
    </div>
</div>