<div class="container" ng-controller="CreateJobCtrl">



<div class="well">
  <form name="form-horizontal" role="form">
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="wwsid">WWSID:</label>
        <input type="text" name="wwsid" id="wwsid" class="form-control" ng-model="vm.wwsid"/>
      </div>
      <div class="form-group col-sm-3">
        <label for="requestedDate">Requested Date:</label>
        <input type="date" name="requestedDate" id="requestedDate" class="form-control" ng-model="vm.requestedDate">
      </div>
      <div class="form-group col-sm-3">
        <label for="closureDate">Closure Date:</label>
        <input type="date" name="closureDate" id="closureDate" class="form-control" ng-model="vm.closureDate">
      </div>
      <div class="form-group col-sm-3">
        <label for="creatorRM">Creator RM:</label>
        <input type="text" name="creatorRM" id="creatorRM" class="form-control" ng-model="vm.creatorRM">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="requestorRM">Requestor RM:</label>
        <input type="text" name="requestorRM" id="requestorRM" class="form-control" ng-model="vm.requestorRM">
      </div>
      <div class="form-group col-sm-3">
        <label for="owningRM">Owning RM:</label>
        <input type="text" name="owningRM" id="owningRM" class="form-control" ng-model="vm.owningRM">
      </div>
      <div class="form-group col-sm-3">
        <label for="roleId">RoleRequestor:</label>
        <select class="form-control" name="roleId" id="roleId" ng-model="vm.roleId">
          <option value="1">Java Developer</option>
          <option value="2">Oracle Developer</option>
          <option value="3">SAP Developer</option>
          <option value="4">SAP Tester</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <label for="resourceCount">Number of Resources:</label> <input
              type="text" name="resourceCount" id="resourceCount" class="form-control" ng-model="vm.resourceCount">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="accountId">Account:</label>
        <select name="accountId" id="accountId" class="form-control" ng-model="vm.accountId"
                ng-options="opt.accountId as opt.accountName for opt in accounts.account">

        </select>
      </div>
      <div class="form-group col-sm-3">
        <label for="roleStartDate">Role Start date:</label>
        <input type="date" name="roleStartDate" id="roleStartDate" class="form-control" ng-model="vm.roleStartDate">
      </div>
      <div class="form-group col-sm-3">
        <label for="roleEndDate">Role End date:</label>
        <input type="date" name="roleEndDate" id="roleEndDate" class="form-control" ng-model="vm.roleEndDate">
      </div>
      <div class="form-group col-sm-3">

      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="chargeOutRate">Charge Out Rate:</label>
        <input type="text" name="chargeOutRate" id="chargeOutRate" class="form-control" ng-model="vm.chargeOutRate">
      </div>
      <div class="form-group col-sm-3">
        <label for="contractorRate">Contractor Rate:</label>
        <input type="text" name="contractorRate" id="contractorRate" class="form-control" ng-model="vm.contractorRate">
      </div>
      <div class="form-group col-sm-3">
        <label for="travel">Travel:</label>
        <input type="text" name="travel" id="travel" class="form-control" ng-model="vm.travel">
      </div>
      <div class="form-group col-sm-3">

      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="employementTypeId">Employee Type:</label>
        <select name="employementTypeId" id="employementTypeId" class="form-control" ng-model="vm.employementTypeId">
          <option value="1">Full Time</option>
          <option value="2">Contractor</option>
        </select>
      </div>
      <div class="form-group col-sm-3">

      </div>
      <div class="form-group col-sm-3">

      </div>
      <div class="form-group col-sm-3">
        <label for="jobStatusId">Status:</label>
        <select name="jobStatusId" id="jobStatusId" class="form-control" ng-model="vm.jobStatusId">
          <option value="1">Open</option>
          <option value="2">Closed</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="serviceLineId">Service Line:</label>
        <select name="serviceLineId" id="serviceLineId" class="form-control" ng-model="vm.serviceLineId">
          <option value="1">CSD</option>
          <option value="2">SAP</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <label for="serviceLineCapabilityId">Service Line Capability:</label>
        <select name="serviceLineCapabilityId" id="serviceLineCapabilityId" class="form-control" ng-model="vm.serviceLineCapabilityId">
          <option value="1">Core</option>
          <option value="2">Functional</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <label for="rlNm">Role Name:</label>
        <select name="rlNm" id="rlNm" class="form-control" ng-model="vm.rlNm">
        </select>
      </div>
      <div class="form-group col-sm-3">

      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label for="openDate">Open Date:</label>
        <input type="date" name="openDate" id="openDate" class="form-control" ng-model="vm.openDate">
      </div>
      <div class="form-group col-sm-3">
        <label for="presentedDate">Presented  Date:</label>
        <input type="date" name="presentedDate" id="presentedDate" class="form-control" ng-model="vm.presentedDate">
      </div>
      <div class="form-group col-sm-3">
        <label for="jobStageId">Job Stage:</label>
        <select name="jobStageId" id="jobStageId" class="form-control" ng-model="vm.jobStageId">
          <option value="1">Finalized</option>
          <option value="2">Non Finalized</option>
        </select>
      </div>
      <div class="form-group col-sm-3">

      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="requirementSpecifics">Requirement Specifics:</label>
        <textarea rows="2" name="requirementSpecifics" id="requirementSpecifics" class="form-control" ng-model="vm.requirementSpecifics"></textarea>
      </div>
      <div class="form-group col-sm-6">
        <div><label> </label></div>
        <button type="button" ng-click="saveJob()" class="btn btn-default btn-info postJobBtn">Post Job</button>
      </div>
    </div>
  </form>
</div>
</div>
