<div ng-controller="DashboardCtrl">
<div class="row">

    <div class="col-sm-4">

        <div class="panel job-panel equal">
            <div class="panel-heading job-panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" ng-click="page='jobs'"> <i
                                class="white-link fa fa-list-alt fa-5x"></i></a>
                        <h3>Job</h3>
                    </div>
                    <div class="col-xs-8 text-left">
                        <table class="table-condensed">
                            <tbody >
                            <tr>
                                <td>Open</td>
                                <td>{{jobReportObj.openJobCount}}</td>
                            </tr>
                            <tr>
                                <td>Aging</td>
                                <td>{{jobReportObj.agingJobCount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
				<span class="pull-left"><a href="/jobAdvanceSearchView">View
                    Details</a></span> <span class="pull-right"><i
                    class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel candidate-panel equal">
            <div class="panel-heading candidate-panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" ng-click="page='candidate'"> <i
                                class="white-link fa fa-users fa-5x"></i></a>
                        <h3>Candidate</h3>
                    </div>
                    <div class="col-xs-8 text-left">
                        <table class="table-condensed">

                            <tbody>
                            <tr>
                                <td>Active</td>
                                <td>{{candidateReport.activeCount}}</td>
                            </tr>
                            <tr>
                                <td>Hired</td>
                                <td>{{candidateReport.hiredCount}}</td>
                            </tr>
                            <tr>
                                <td>Rejected</td>
                                <td>{{candidateReport.rejectCount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
				<span class="pull-left"><a href="/candidateSearchView">View
                    Details</a></span> <span class="pull-right"><i
                    class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-yellow equal">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#" ng-click="page='interview'"> <i
                                class="white-link fa fa-institution fa-5x"></i></a>
                        <h3>Interview</h3>
                    </div>
                    <div class="col-xs-8 text-left">
                        <table class="table-condensed">

                            <tbody>
                            <tr>
                                <td>Conducted</td>
                                <td>{{interviewReport.conductedCount}}</td>
                            </tr>
                            <tr>
                                <td>Success</td>
                                <td>{{interviewReport.successCount}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
				<span class="pull-left"><a href="/interviewSearchView">View
                    Details</a></span> <span class="pull-right"><i
                    class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div ng-switch="page">
        <div ng-switch-default>
            <div class="col-sm-6">
                <div class="panel search">
                    <div class="panel-heading search-heading">
                        <h3 class="panel-title">Job Account Report</h3>

                    </div>
                    <div class="panel-body">
                        <canvas id="jobAccount" class="chart chart-line"
                                chart-data="jobAccountData" chart-labels="jobAccountLabels"
                                chart-legend="true" chart-series="jobAccountSeries" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel search">
                    <div class="panel-heading search-heading">
                        <h3 class="panel-title">Job BU Report</h3>

                    </div>
                    <div class="panel-body">
                        <canvas id="jobBU" class="chart chart-line" chart-data="jobBUData"
                                chart-labels="jobBULabels" chart-legend="true"
                                chart-series="jobBUSeries" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>

        <div ng-switch-when="candidate">
            <div class="col-sm-6">
                <div class="panel search">
                    <div class="panel-heading search-heading">
                        <h3 class="panel-title">Candidate Account Report</h3>

                    </div>
                    <div class="panel-body">
                        <canvas id="candidateAccount" class="chart chart-line"
                                chart-data="candidateAccountData"
                                chart-labels="candidateAccountLabels" chart-legend="true"
                                chart-series="candidateAccountSeries" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel search">
                    <div class="panel-heading search-heading">
                        <h3 class="panel-title">Candidate BU Report</h3>

                    </div>
                    <div class="panel-body">
                        <canvas id="candidateBU" class="chart chart-line"
                                chart-data="candidateBUData" chart-labels="candidateBULabels"
                                chart-legend="true" chart-series="candidateBUSeries" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="interview">
            <div class="col-sm-6">
                <div class="panel search">
                    <div class="panel-heading search-heading">
                        <h3 class="panel-title">Interview Account Report</h3>

                    </div>
                    <div class="panel-body">
                        <canvas id="interviewAccount" class="chart chart-line"
                                chart-data="interviewAccountData"
                                chart-labels="interviewAccountLabels" chart-legend="true"
                                chart-series="interviewAccountSeries" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel search">
                    <div class="panel-heading search-heading">
                        <h3 class="panel-title">Interview BU Report</h3>

                    </div>
                    <div class="panel-body">
                        <canvas id="interviewBU" class="chart chart-line"
                                chart-data="interviewBUData" chart-labels="interviewBULabels"
                                chart-legend="true" chart-series="interviewBUSeries" chart-colours="colours">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>