<div id="dashboard" class="tab-pane fade in active">
  <div class="row">
    <div class="col-sm-7">
      <div class="well">

        <table class="table table-hover table-striped">
          <thead style="background-color: #b0c4de;">
          <tr>
            <th>WWSID</th>
            <th>Service Line</th>
            <th>Service Line Capability</th>
            <th>Role Name</th>
            <th>Status</th>
            <th>Requested Date</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr class="">
            <td>WAC43534</td>
            <td>CSD</td>
            <td>Core</td>
            <td>Java Developer</td>
            <td>Open</td>
            <td>2015-02-10</td>
            <td><a href="#jobDetails1" class="job1Lnk">Job
              Details</a></td>
            <td><a href="#candidate1" class="candidate1Lnk">Candidate
              Details</a></td>
          </tr>
          <tr class="">
            <td>WAC43567</td>
            <td>SAP</td>
            <td>Core</td>
            <td>Sap Developer</td>
            <td>Open</td>
            <td>2015-10-10</td>
            <td><a href="#jobDetails2" class="job2Lnk">Job
              Details</a></td>
            <td><a href="#candidate2" class="candidate2Lnk">Candidate
              Details</a></td>
          </tr>
          <tr class="">
            <td>WAC47868</td>
            <td>CSD</td>
            <td>BA</td>
            <td>Senior Business Analyst</td>
            <td>Open</td>
            <td>2015-10-20</td>
            <td><a href="#jobDetails3" class="job3Lnk">Job
              Details</a></td>
            <td><a href="#candidate3" class="candidate3Lnk">Candidate
              Details</a></td>
          </tr>
          <tr class="">
            <td>WAC47869</td>
            <td>CSD</td>
            <td>Core</td>
            <td>Senior Tester</td>
            <td>Open</td>
            <td>2016-11-20</td>
            <td><a href="#jobDetails4" class="job4Lnk">Job
              Details</a></td>
            <td><a href="#candidate4" class="candidate4Lnk">Candidate
              Details</a></td>
          </tr>
          <tr class="">
            <td>WAC47870</td>
            <td>CSD</td>
            <td>BA</td>
            <td>Business Analyst</td>
            <td>Open</td>
            <td>2015-02-02</td>
            <td><a href="#jobDetails5" class="job5Lnk">Job
              Details</a></td>
            <td><a href="#candidate5" class="candidate5Lnk">Candidate
              Details</a></td>
          </tr>
          <tr class="">
            <td>WAC47871</td>
            <td>CSD</td>
            <td>BA</td>
            <td>BA Manager</td>
            <td>Open</td>
            <td>2015-05-10</td>
            <td><a href="#jobDetails6" class="job6Lnk">Job
              Details</a></td>
            <td><a href="#candidate6" class="candidate6Lnk">Candidate
              Details</a></td>
          </tr>
          <tr class="">
            <td>WAC47872</td>
            <td>CSD</td>
            <td>Core</td>
            <td>Project Manager</td>
            <td>Open</td>
            <td>2015-05-31</td>
            <td><a href="#jobDetails7" class="job7Lnk">Job
              Details</a></td>
            <td><a href="#candidate7" class="candidate7Lnk">Candidate
              Details</a></td>
          </tr>
          <tr class="">
            <td>WAC47873</td>
            <td>SAP</td>
            <td>Functional</td>
            <td>Senior HR Analyst</td>
            <td>Open</td>
            <td>2015-10-20</td>
            <td><a href="#jobDetails8" class="job8Lnk">Job
              Details</a></td>
            <td><a href="#candidate8" class="candidate8Lnk">Candidate
              Details</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>