<div class="row">
    <div class="panel search">
        <div class="panel-heading search-heading">
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="panel-title">Search Interview</h3>
                </div>
                <div class="col-xs-2 text-left">
                    <a href="/dashboard" class="white-link">Back</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form role="form" action="#dashboard">
                <table class="table">
                    <tbody class="bg-success">
                    <tr>
                        <td><label for="srcIntrDateFrom">Interview Date:</label><input type="date" class="form-control"
                                   id="srcIntrDateFrom" ng-model="interviewDateFrom"></td>
                        <td><label for="srcIntrDateTo">To</label><input type="date" class="form-control"
                                   id="srcIntrDateTo" ng-model="interviewDateTo"></td>
                        <td><label for="srcRst">Result:</label><input type="text" class="form-control" id="srcRst" ng-model="result"></td>
                        <td><label for="srcIntrer">Interviewer:</label><input type="text" class="form-control" id="srcIntrer" ng-model="interviewer"></td>
                        <td style="vertical-align: bottom;"><button type="button" id="intrSearchId"
                                    class="btn btn-color" ng-click="interviewSearch()">
                            <span class="glyphicon glyphicon-search"></span> Search</button></td>
                        <td style="vertical-align: bottom;"><button type="button" id="customizeId"
                                    class="btn btn-color">Set As Dashboard Default</button></td>
                    </tr>
                    </tbody>
                </table>
            </form>

            <table class="table table-hover">
                <thead class="search search-heading">
                <tr>
                    <th><label>Interviewer Name</label></th>
                    <th><label>Interviewer Position</label></th>
                    <th><label>Result</label></th>
                    <th><label>Comment</label></th>
                    <th><label>Interview Date/Time</label></th>
                </tr>
                </thead>
                <tbody ng-repeat="searchResultObj in interviewSearchResultObject.interviewList">
                <tr>
                    <td>{{searchResultObj.interviewerName}}</td>
                    <td>{{searchResultObj.interviewerPosition}}</td>
                    <td>{{searchResultObj.result}}</td>
                    <td>{{searchResultObj.comment}}</td>
                    <td>{{searchResultObj.interviewDate}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
</div>



