<div class="row">
    <div class="panel search">
        <div class="panel-heading search-heading">
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="panel-title">Search Interview</h3>
                </div>
                <div class="col-xs-2 text-left">
                    <a href="/dashboard" class="white-link">Back</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form role="form" action="#dashboard">
                <table class="table">
                    <tbody class="bg-success">
                    <tr>
                        <td><label for="srcIntrDateFrom">Interview Date:</label><input type="date" class="form-control"
                                   id="srcIntrDateFrom" ng-model="interviewDateFrom"></td>
                        <td><label for="srcIntrDateTo">To</label><input type="date" class="form-control"
                                   id="srcIntrDateTo" ng-model="interviewDateTo"></td>
                        <td><label for="srcRst">Result:</label><input type="text" class="form-control" id="srcRst" ng-model="result"></td>
                        <td><label for="srcIntrer">Interviewer:</label><input type="text" class="form-control" id="srcIntrer" ng-model="interviewer"></td>
                        <td style="vertical-align: bottom;"><button type="button" id="intrSearchId"
                                    class="btn btn-color" ng-click="interviewSearch()">
                            <span class="glyphicon glyphicon-search"></span> Search</button></td>
                        <td style="vertical-align: bottom;"><button type="button" id="customizeId"
                                    class="btn btn-color">Set As Dashboard Default</button></td>
                    </tr>
                    </tbody>
                </table>
            </form>

            <form class="col-sm-3 col-sm-offset-9">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>

                        <input type="text" class="form-control" placeholder="Search text" ng-model="searchInterviewFilter">

                    </div>
                </div>
            </form>

            <table class="table table-hover">
                <thead class="search search-heading">
                <tr>
                    <th>
                        <a href="#" ng-click="sortType = 'interviewerName'; sortReverse = !sortReverse" class="white-link">
                        <label>Interviewer Name</label>
                            <span ng-show="sortType == 'interviewerName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'interviewerName' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'interviewerPos'; sortReverse = !sortReverse" class="white-link">
                        <label>Interviewer Position</label>
                            <span ng-show="sortType == 'interviewerPos' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'interviewerPos' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse" class="white-link">
                        <label>Result</label>
                            <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'intrvwComments'; sortReverse = !sortReverse" class="white-link">
                        <label>Comment</label>
                            <span ng-show="sortType == 'intrvwComments' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'intrvwComments' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'intrvwDateTime'; sortReverse = !sortReverse" class="white-link">
                            <label>Interview Date/Time</label>
                            <span ng-show="sortType == 'intrvwDateTime' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'intrvwDateTime' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody class="bg-success" ng-repeat="searchResultObj in interviewSearchResultObject.interviewList | orderBy:sortType:sortReverse | filter:searchInterviewFilter"">
                <tr>
                    <td>{{searchResultObj.interviewerName}}</td>
                    <td>{{searchResultObj.interviewerPos}}</td>
                    <td>{{searchResultObj.status}}</td>
                    <td>{{searchResultObj.intrvwComments}}</td>
                    <td>{{searchResultObj.intrvwDateTime}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
</div>



