<div class="row">
    <div class="panel search">
        <div class="panel-heading search-heading">
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="panel-title">Search Job</h3>
                </div>
                <div class="col-xs-2 text-left">
                   <!-- <a href="/jobSearchView" class="white-link">Search</a> <span>/</span>-->
                    <a href="/dashboard" class="white-link">Back</a>
                </div>
            </div>
        </div>
        <div class="panel-body" ng-controller="JobSearchCtrl">
            <form class="form-group">
                <table class="table">
                    <tbody class="bg-success">
                    <tr>
                        <td>
                            <label for="srcReqDateFrom">Requested Date:</label>
                            <input type="date" class="form-control" id="srcReqDateFromId" ng-model="srcReqDateFromId">
                            <label for="srcReqDateTo">To</label>
                            <input type="date" class="form-control" id="srcReqDateToId" ng-model="srcReqDateToId">
                        </td>
                        <td>
                            <label for="roleStartDateFrom">Role Start Date:</label>
                            <input type="date" class="form-control" id="roleStartDateFromId" ng-model="roleStartDateFromId">
                            <label for="roleStartDateTo">To</label>
                            <input type="date" class="form-control" id="roleStartDateTo" ng-model="roleStartDateTo">
                        </td>
                        <td>
                            <label for="srcSerLine">Service Line:</label>
                            <select
                                    class="form-control serLine" id="serviceLineId" ng-model="serviceLineId" ng-change="serviceLineChanged(serviceLineId)"
                                    ng-options="opt.serviceLineId as opt.serviceLineName for opt in serviceLines.serviceLine">
                                <option value="" selected="selected">Select</option>
                            </select>

                            <label for="srcSerLnCap">Service Line Capability:</label>
                            <select class="form-control serLnCap" id="serviceLineCapabilityId" ng-model="serviceLineCapabilityId"
                                    ng-change="serviceLineCapChanged(serviceLineCapabilityId)"
                                    ng-options="opt.serviceLineCapabilityId as opt.serviceLineCapabilityName for opt in serviceLineCapabilityList">
                                <option value="" selected="selected">Select</option>
                            </select>

                        </td>
                        <td>
                            <label for="srcRlNm">Role Name:</label>
                            <select
                                    class="form-control rlNm" id="jobRoleId"  ng-model="jobRoleId"
                                    ng-options="opt.jobRoleId as opt.jobRoleName for opt in jobRolesList">
                                <option value="" selected="selected">Select</option>
                            </select>

                            <label for="srcStatus">Status:</label>
                            <select
                                    class="form-control" id="srcStatus" ng-model="statusId"
                                    ng-options="opt.jobStatusId as opt.jobStatusName for opt in jobStatuses.jobStatus">
                                <option value="" selected="selected">Select</option>
                            </select>
                        </td>
                        </tr>
                        <tr>
                        <td colspan="1">

                            <label for="srcAccount">Account:</label>
                            <select class="form-control" id="srcAccount"  ng-model="accountId"
                                    ng-options="opt.accountId as opt.accountName for opt in accounts.account">
                                <option value="" selected="selected">Select</option>
                            </select>

                        </td>
                        <td colspan="3">
                            <div style="padding-bottom:20px;"></div>
                            <button type="button" id="searchId" class="btn btn-color" ng-click="jobSearch()">
                                <span class="glyphicon glyphicon-search"></span> Search
                            </button>
                            <button type="button" id="customizeId" class="btn btn-color" ng-click="setDefaultJobDashboard()">Set
                                As Dashboard Default</button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </form>
            <form class="col-sm-3 col-sm-offset-9">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>

                        <input type="text" class="form-control" placeholder="Search text" ng-model="searchJobFilter">

                    </div>
                </div>
            </form>
            <div style="padding-bottom: 30px;"></div>
            <table class="table table-hover">
                <thead class="search search-heading">
                <tr>
                    <th>
                        <a href="#" ng-click="sortType = 'wwsid'; sortReverse = !sortReverse" class="white-link">
                        <label>WWSID</label>
                            <span ng-show="sortType == 'wwsid' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'wwsid' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'serviceLine'; sortReverse = !sortReverse" class="white-link">
                            <label>Service Line</label>
                            <span ng-show="sortType == 'serviceLine' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'serviceLine' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'serviceLineCap'; sortReverse = !sortReverse" class="white-link">
                        <label>Service Line Capability</label>
                            <span ng-show="sortType == 'serviceLineCap' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'serviceLineCap' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'roleName'; sortReverse = !sortReverse" class="white-link">
                        <label>Role Name</label>
                            <span ng-show="sortType == 'roleName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'roleName' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'jobStatus'; sortReverse = !sortReverse" class="white-link">
                        <label>Status</label>
                            <span ng-show="sortType == 'jobStatus' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'jobStatus' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'reqBy'; sortReverse = !sortReverse" class="white-link">
                        <label>Requested By</label>
                            <span ng-show="sortType == 'reqBy' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'reqBy' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'reqDate'; sortReverse = !sortReverse" class="white-link">
                        <label>Requested Date</label>
                            <span ng-show="sortType == 'reqDate' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'reqDate' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody class="bg-success" ng-repeat="jobSearchObj in jobSearchResult.jobList | orderBy:sortType:sortReverse | filter:searchJobFilter">
                <tr>
                    <td><a href="/jobDetailsView/{{jobSearchObj.jobId}}">{{jobSearchObj.wwsid}}</a></td>
                    <td>{{jobSearchObj.serviceLine}}</td>
                    <td>{{jobSearchObj.serviceLineCap}}</td>
                    <td>{{jobSearchObj.roleName}}</td>
                    <td>{{jobSearchObj.jobStatus}}</td>
                    <td>{{jobSearchObj.reqBy}}</td>
                    <td>{{jobSearchObj.reqDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>