<div class="row" ng-controller="CreateJobCtrl">
    <div class="panel search">
        <div class="panel-heading search-heading">
            <div class="row">
                <div class="col-xs-10">
                    <h3 class="panel-title">Job Details</h3>
                </div>
                <div class="col-xs-2 text-left">
                    <!-- <a href="/jobSearchView" class="white-link">Search</a> <span>/</span>-->
                    <a href="/jobAdvanceSearchView" class="white-link">Back</a>
                </div>
            </div>
            </div>
        <!-- <a href="/jobSearchView" class="white-link">Search</a> <span>/</span>-->
        <div class="panel-body">

            <table class="table table-hover">
                <tbody class="bg-success">
                    <tr>
                        <td><label>WWSID</label></td>
                        <td>{{jobDetails.wwsid}}</td>
                        <td><label>Job Stage</label></td>
                        <td>{{jobDetails.jobStageId}}</td>
                    </tr>
                    <tr>
                        <td><label>Creator RM</label></td>
                        <td>{{jobDetails.creatorRM}}</td>
                        <td><label>Requestor RM</label></td>
                        <td>{{jobDetails.requestorRM}}</td>
                    </tr>
                    <tr>
                        <td><label>Owning RM</label></td>
                        <td>{{jobDetails.owningRM}}</td>
                        <td><label>Status</label></td>
                        <td>{{jobDetails.jobStatusId}}</td>
                    </tr>
                    <tr>
                        <td><label>Number of Resources</label></td>
                        <td>{{jobDetails.resourceCount}}</td>
                        <td><label>Employee Type</label></td>
                        <td>{{jobDetails.employementTypeId}}</td>
                    </tr>
                    <tr>
                        <td><label>Service Line</label></td>
                        <td>{{jobDetails.serviceLineId}}</td>
                        <td><label>Service Line Capability</label></td>
                        <td>{{jobDetails.serviceLineCapabilityId}}</td>
                    </tr>
                    <tr>
                        <td><label>Role Name</label></td>
                        <td>{{jobDetails.roleId}}</td>
                        <td><label>Requested Date</label></td>
                        <td>{{jobDetails.requestedDate}}</td>
                    </tr>
                    <tr>
                        <td><label>Closure Date</label></td>
                        <td>{{jobDetails.closureDate}}</td>
                        <td><label>Client Name</label></td>
                        <td>{{jobDetails.accountId}}</td>
                    </tr>
                    <tr>
                        <td><label>Role Requirement Specifics</label></td>
                        <td>{{jobDetails.requirementSpecifics}}</td>
                        <td><label>Travel</label></td>
                        <td>{{jobDetails.travel}}</td>
                    </tr>
                    <tr>
                        <td><label>Role Start Date</label></td>
                        <td>{{jobDetails.roleStartDate}}</td>
                        <td><label>Role End Date</label></td>
                        <td>{{jobDetails.roleEndDate}}</td>
                    </tr>
                    <tr>
                        <td><label>Charge Out Rate</label></td>
                        <td>{{jobDetails.chargeOutRate}}</td>
                        <td><label>Contractor Rate</label></td>
                        <td>{{jobDetails.contractorRate}}</td>
                    </tr>

                    <!-- <tr>
                     <td><label>Resource Type</label></td>
                        <td>{{jobDetails.employementTypeId}}</td>
                         <td><label>Travel Explanation</label></td>
                         <td>{{jobDetails.resourceCount}}</td>
                    </tr>-->
                   <!-- <tr>
                   <!-- <td><label>RoleRequestor</label></td>
                        <td>{{jobDetails.roleId}}</td>
                        <td><label>Contractor Eligibile</label></td>
                        <td>Yes</td>
                    </tr>-->
                </tbody>
            </table>
			<div class="input-group">
				<button type="button" class="btn btn-color"	data-toggle="modal" data-target="#addCndtModal">Add	Candidate</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addCndtModal" role="dialog" ng-controller="CreateCandidateCtrl">
			<div class="modal-dialog">

				<!-- Modal content create candidate-->
				<div class="modal-content" style="width:780px;">
					<div class="modal-header" style="background-color: #dff0d8">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Create Candidate</h4>
					</div>
					<div class="modal-body">
						<div class="well" style="width:750px">
							<form role="form" action="#dashboard">
								<table class="table-condensed">
									<tr>
										<td><label for="candidateName" style="width:120px;">Candidate Name:</label></td>
										<td><input type="text" class="form-control"
											id="name" ng-model="vm.name"></td>
										<td><label for="resourceType">Category :</label></td>
										<td><select class="form-control" id="candidateCategoryId" ng-model="vm.candidateCategoryId">>
												<option value="1">Internal</option>
												<option value="2">For Hire</option>
												<option value="3">Contractor</option>
										</select></td>
									</tr>
									<tr>
										<td><label for="candidateStatus">Candidate Status:</label></td>
										<td><select class="form-control" id="candidateStatusId" ng-model="vm.candidateStatusId">
												<option value="1">Active</option>
												<option value="2">Hired</option>
												<option value="3">Rejected</option>
												<option value="4">Did Not Join</option>
										</select></td>
										<td><label for="cntrRate1">Contractor Rate:</label></td>
										<td><input type="text" class="form-control"
											id="contractorRate" ng-model="vm.contractorRate"></td>
									</tr>
									<tr class="form-group form-inline">
										<td><label for="prmSkills">Primary Skills:</label></td>
										<td><input type="text" class="form-control"
											id="primarySkills" ng-model="vm.primarySkills"></td>
										<td><label for="buLeadAppr">BU Lead Approval:</label></td>
										<td><input type="text" class="form-control"
											id="buLeadApproval" ng-model="vm.buLeadApproval"></td>
									</tr>
									<tr class="form-group form-inline">
										<td><label for="ctzSrcSts1">Citizenship Status:</label></td>
										<td><select class="form-control" id="citizenStatusId" ng-model="vm.citizenshipStatusId">
												<option value="3">Green Card</option>
												<option value="1">H1B</option>
												<option value="2">OPT</option>
												<option value="4">L1</option>
										</select></td>
										<td><label for="capLeadAppr">Capablity Lead Approver:</label></td>
										<td><input type="text" class="form-control"
											id="capabilityLeadApproval" ng-model="vm.capabilityLeadApproval"></td>
									</tr>
									<tr class="form-group form-inline">
										<td><label for="offerDate">Offer Date:</label> </td>
										<td><input type="date"
									class="form-control" id="offerDate" ng-model="vm.offerDate"></td>
										<td><label for="offrAcptDate">Offer Accept Date:</label> </td>
										<td><input type="date"
									class="form-control" id="offerAcceptDate" ng-model="vm.offerAcceptDate"></td>
									</tr>
									<tr class="form-group form-inline">
										<td><label for="joinDate">Join Date:</label> </td>
										<td><input type="date"
									class="form-control" id="joiningDate" ng-model="vm.joiningDate"></td>
										<td><label for="actjoinDate">Actual Join Date:</label> </td>
										<td><input type="date"
									class="form-control" id="actualJoiningDate" ng-model="vm.actualJoiningDate"></td>
									</tr>
									<tr class="form-group form-inline" >
									<td><label for="resourceType">Resource Type :</label></td>
									<td><select class="form-control" id="resourceTypeId" name="resourceTypeId" ng-model="vm.resourceTypeId">
												<option value="1">GX Employee</option>
												<option value="2">US Employee</option>
												<option value="3">Contractor</option>
										</select>
									</td>
										<td><label for="upldResume">Upload Resume:</label></td>
											<td><input type="file" class="form-control" style="width:100%"
												id="resume" file-model="resume">
										</td>
									</tr>
								</table>
							</form>
						</div>
					</div>
					<div class="modal-footer" style="background-color: #dff0d8">
							<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveCandidate()">Save</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
				</div>

			</div>
		</div>