<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading white-link">Job Details</div>
        <div class="panel-body">

            <table class="table table-hover">
                <tbody class="bg-success">
                    <tr>
                        <td><label>WWSID</label></td>
                        <td>WAC43534</td>
                        <td><label>Job Stage</label></td>
                        <td>Finalized</td>
                    </tr>
                    <tr>
                        <td><label>Creator RM</label></td>
                        <td>Temp</td>
                        <td><label>Requestor RM</label></td>
                        <td>Temp</td>
                    </tr>
                    <tr>
                        <td><label>Owning RM</label></td>
                        <td>Temp</td>
                        <td><label>RoleRequestor</label></td>
                        <td>JAVA DEVELOPER</td>
                    </tr>
                    <tr>
                        <td><label>Number of Resources</label></td>
                        <td>20</td>
                        <td><label>Employee Type</label></td>
                        <td>Full Time</td>
                    </tr>
                    <tr>
                        <td><label>Resource Type</label></td>
                        <td>GX</td>
                        <td><label>Status</label></td>
                        <td>Open</td>
                    </tr>
                    <tr>
                        <td><label>Service Line</label></td>
                        <td>CSD</td>
                        <td><label>Service Line Capability</label></td>
                        <td>Core</td>
                    </tr>
                    <tr>
                        <td><label>Role Name</label></td>
                        <td>Java Developer</td>
                        <td><label>Requested Date</label></td>
                        <td>2015-05-29</td>
                    </tr>
                    <tr>
                        <td><label>Closure Date</label></td>
                        <td>2015-05-29</td>
                        <td><label>Client Name</label></td>
                        <td>Disney</td>
                    </tr>
                    <tr>
                        <td><label>Role Requirement Specifics</label></td>
                        <td>Resource Manager</td>
                        <td><label>Number of Resources</label></td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><label>Role Start Date</label></td>
                        <td>2015-05-29</td>
                        <td><label>Role End Date</label></td>
                        <td>2015-06-29</td>
                    </tr>
                    <tr>
                        <td><label>Charge Out Rate</label></td>
                        <td>20</td>
                        <td><label>Contractor Rate</label></td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td><label>Travel</label></td>
                        <td>Yes</td>
                        <td><label>Travel Explanation</label></td>
                        <td>Stay different location</td>
                    </tr>
                   <!-- <tr>
                        <td><label>Contractor Eligibile</label></td>
                        <td>Yes</td>
                    </tr>-->
                </tbody>
            </table>
        </div>
    </div>
</div>