
        <div class="panel-group" id="panel-361229">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-361229" href="#panel-element-868478">Collapsible Group Item #1</a>
                </div>
                <div id="panel-element-868478" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche...
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-361229" href="#panel-element-599735">Collapsible Group Item #2</a>
                </div>
                <div id="panel-element-599735" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Anim pariatur cliche...
                    </div>
                </div>
            </div>
        </div>