
<div class="panel-group" id="accordion" style="padding:0px;">
    <div class="panel panel-default" style="padding-bottom:0px;">
        <div class="panel-heading accordion-toggle collapsed"
             data-toggle="collapse" data-parent="#accordion" href="#home">
        <div class="panel-title"><i class="fa fa-home fa-lg">&nbsp;Home</i></div>
              <!--  <a data-toggle="collapse" data-parent="#accordion" href="#dashboard">
                    <span class="glyphicon glyphicon-folder-close"> </span>Dashboard
                </a>-->
        </div>
        <div id="home" class="panel-collapse collapse in">
            <ul class="list-group">
                <li class="list-group-item"><a href="/dashboard">Dashboard</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default no-gutter" style="padding-top:0px;">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#jobManagement">
            <div class="panel-title"><i class="fa fa-briefcase fa-lg">&nbsp;Job Management</i></div>
               <!-- <a data-toggle="collapse" data-parent="#accordion"
                   href="#jobManagement"><span class="glyphicon glyphicon-file">
				</span>Job Management</a>-->
        </div>
        <div id="jobManagement" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item"><a href="/createJob">Post Job</a></li>
            </ul>
			<!--ul class="list-group">
                <li class="list-group-item"><a href="/createCandidate">Create Candidate</a></li>
            </ul-->
        </div>
    </div>
  <!-- <div class="panel panel-default no-gutter">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#reports">
            <div class="panel-title">Reports</div>
        </div>
        <div id="reports" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item"><a href="/account">Account</a></li>
                <li class="list-group-item"><a href="/bu">BU</a></li>
            </ul>
        </div>
    </div>-->
</div>