.bodyClass {
	background: url(../images/image2.jpg);
}


.header {
 color:white;
 font-weight:bold;
 border-top-right-radius:5px;
 border-top-left-radius:5px;
 border-bottom-right-radius:5px;
 border-bottom-left-radius:5px;
 background-color:#446293;
 height:35px;
 padding-top:6px;
}

.jobmanagement {
	background: url("") no-repeat;
	display:inline-block;
}
