.body{
    background-color: #F0F7F9 !important;
}

.header {
 color:white;
 font-weight:bold;
 background-color:#314D68;
 height:35px;
 padding-top:6px;
}

.panel-heading.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content:"\e113";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* adjust as needed */
    color: white;
    /* adjust as needed */
    font-size: 20px;
    /* adjust as needed */
    margin-left: 10px !important;
    /* adjust as needed */
    margin-right: 10px !important;
    /* adjust as needed */
}
.panel-heading.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\e114";
    /* adjust as needed, taken from bootstrap.css */
}
.accordion-toggle:hover {
    cursor: pointer;
}
.panel-default {
    border-color: #314D68 !important;
    font-family:'Roboto', sans-serif !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}
/* http://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.panel-default .panel-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #314D68 !important;
    margin: 0px !important;
    min-height: 40px;
}
.panel-default .panel-title {
    font-size: 14px;
    font-weight:bold;
    line-height: 22px;
    color: white;
    padding: 0px !important;
    margin: 0px !important;
    margin-right: 10px;
}
.list-group-item{
    background-color: #F0F7F9 !important;

}

canvas{
    width: 100% !important;
    min-width: 200px;
    height: 200px;
    background-color: #F0F7F9 !important;
}
.column{
    padding:10px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

/*.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}*/

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

/*.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}*/

.panel-yellow {
    border-color: #A39F5D;
}

.panel-yellow .panel-heading {
    border-color: #A39F5D;
    color: #fff;
    background-color: #A39F5D;
}

.white-link {
    color: #ffffff !important;
}

.search{
    border-color: #539CA6;
}
.search-heading{
    border-color: #539CA6;
    color: #fff;
    background-color: #539CA6;
}

.job-panel{
     border-color: #A47C5E;
 }

.job-panel-heading{
    border-color: #A47C5E;
    color: #fff;
    background-color: #A47C5E;
}

.candidate-panel{
    border-color: #D69554;
}

.candidate-panel-heading{
    border-color: #D69554;
    color: #fff;
    background-color: #D69554;
}

.btn-color{

    background-color: #4A7B6F;
    border-radius: 12px;
    color: #fff;
}

.equal, .equal > div[class*='col-'] {
    min-height: 40px;
}

/*
.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}*/
